@model IEnumerable<MVC5.Models.tb_Product>  
@{
    ViewBag.Title = "ShowProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List_product</h2>
@if (Model != null) {
    <ul>
        @foreach (var item in Model)
        {
            <li>
                Product name: @item.Name_Product
                <br />
                Price: @item.Price
                <br/>
                Description: @item.Description
                <br />
                <a href="/DemoCart/Add/@item.ID_Product">Add to cart</a>
            </li>
        }
    </ul>
}

